<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control"
                placeholder="Buscar usuario" #txtBuscar (keyup)="buscar(txtBuscar.value)">
      </div>
    </div>
  </div>
</div>


<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-headding">Cargando...</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total de usuarios ({{ totalUsuarios }}) - {{ desde }}</h4>
        <h6 class="card-subtitle">Usuarios registrados en la aplicación</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr >
                <th class="w100">Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th class="w140">Role</th>
                <th class="w100">Auth</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>

            <tbody>

              <tr *ngFor="let item of usuarios">
                <td><img class="avatar cursor"
                          [src]="item.imagenUrl"
                          alt="Avatar de usuario"
                          (click)="abrirModal(item)">
                  </td>
                <td>{{ item.email }}</td>
                <td>{{ item.nombre }}t</td>

                <td>
                  <select class="form-control" [(ngModel)]="item.role" (change)="cambiarRole(item)">
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>

                <td>
                  <span *ngIf="!item.google" class="label label-info">Email</span>
                  <span *ngIf="item.google" class="label label-danger">Google</span>
                </td>
                <td class="text-nowrap text-center">
                  <!-- <a data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a> -->
                  <a class="cursor" data-toggle="tooltip"
                     data-original-title="Borrear"
                     (click)="eliminarUsuario(item)">
                      <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>

            </tbody>
          </table>

        </div>

        <div *ngIf="txtBuscar.value.length === 0">
          <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button>
          &nbsp;
          <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguente</button>
        </div>

      </div>
    </div>
  </div>
</div>


